{# src/RJSite/FrontBundle/Resources/views/CV/view.html.twig #}

{% extends "RJSiteFrontBundle::layout.html.twig" %}

{% block title %}
    Notre parcours - {{ parent() }}
{% endblock %}

{% block rjsite_default_body %}

<div class="bg-color"></div>
<div class="wrapper">
    <div class="mobile title-description">
        <img class="icon-images" src="{{ asset('bundles/rjplatform/images/icon-desc.svg') }}" width="50" height="50"/>
        <h2 class="title-desc semi-bold green">DESCRIPTION</h2>
    </div>
    <div class="description">
        {% if listProfiles is defined %}
        <ul>
        {% set i = 0  %}
        {% for profile in listProfiles if i < 2 %}
            {% if i==0 %}
                {% set class = 'left'  %}
            {% else %}
                {% set class = 'right'  %}
            {% endif %}
            <li class="{{ class }}-part">
                <div class="{{ class }}-part-title">
                    <h2 class="bold bold-font white">{{ profile.title|upper }}</h2>
                    <p class="regular white tall-font">{{ profile.name }}<br/>
{#                     <p class="regular white tall-font"><span class="green semi-bold">Ju</span>stine Coudert<br/>#}
                    {{ profile.age }} ans<br/>
                    {{ profile.function }}</p>
                    <a href="#" class="green semi-bold">contacter {{ profile.firstname }} >></a>
                </div>
                <div>
                    {% for section in profile.sections %}
                        <h2 class="title-desc semi-bold white" id="{{ section.title|lower|replace({' ': ''}) }}{{ profile.firstname }}">{{ section.title|upper }}</h2>
                        {% for experience in section.experiences %}
                            <p class="regular white medium-font">
                                <span class="green">{{ experience.title|upper }}<br/></span>
                                {% if experience.company %}
                                    {{ experience.company|upper }} |
                                {% endif %}
                                {% if experience.location %}
                                    {{ experience.location|upper }}<br/>
                                {% endif %}
                                {% if experience.startAt %}
                                    {{ experience.startAt|date("M. Y")|upper }}
                                {% endif %}
                                {% if experience.startAt and experience.endDate %} - {% endif %}
                                {% if experience.endDate %}
                                    {{ experience.endDate|date("M. Y")|upper }}</p>
                                {% endif %}
                            </p>
                            <div class="small-font regular white">
                                {{ experience.content|raw }}
                            </div>
                            {% if not loop.last %}
                            <div class="sep"></div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    <div class="septop">
                         <a class="btn" href="#">Contacter {{ profile.firstname }}</a>
                    </div>
                </div>
            </li>
            {%  if i==0 %}
            <li class="center-part">
                <div class="center-part-title">
                    <img src="{{ asset('bundles/rjplatform/images/icon-desc.svg') }}" width="42" height="50"/>
                    <p class="regular white">Quam ob rem id primum<br/>
                    videamus, si placet,<br/>
                    quatenus amor in amicitia <br/>
                    PNumne, si Coriolanus habuit<br/>
                    amicos, ferre contra patriam<br/>
                    arma illi cumrogredi debeat.<br/>
                    </p>
                </div>
                
                {{ render(controller("RJSiteFrontBundle:CV:menu")) }}
                
            </li>
            {% endif %}
            {% set i = i+1 %}
            {% endfor %}
        </ul>
        {% else %}
            <h3>Aucun CV n'existe</h3>
        {% endif %}
    </div>
</div>

{% endblock %}