{# src/RJSite/AdminBundle/Resources/views/CV/editExperience.html.twig #}

{% extends "RJSiteAdminBundle::layout.html.twig" %}

{% block title %}
    Modifier un Curriculum Vitae - {{ parent() }}
{% endblock %}

{% block rjsite_admin_body %}

<div class="container theme-showcase">
    <div class="page-header">
        <div class="pull-left">
            <h2>Modification d'un Curiculum Vitae</h2>
        </div>
        <div class="pull-right">
            {% if experience is defined %}
        	<a class="btn btn-m btn-danger" href="{{ path('rj_site_admin.cv.experience.delete', {'id': experience.id}) }}">Delete</a>
        	{% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{% if experience is defined %}Modifier{% else %}Ajouter{% endif %} une expérience</h3>
            </div>
            
            <div class="panel-body">    
            {{ form(form) }}
{#             {{ tinymce_init({'use_callback_tinymce_init': true, 'theme': {'simple': {'menubar': false}}}) }}#}
            {{ tinymce_init({
                'theme': {'simple':{'language': 'fr_FR', 'height': 300, 'menubar': false, 
                    'plugins' : 'code',
                    'toolbar': "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image code" }},
                })
            }}
{#             {{ tinymce_init() }}#}
{#             {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}#}
{#             {{ form_row(form.title) }}#}
{#             {{ form_rest(form) }}#}

{#             {{ form_end(form) }}#}
            </div>
        </div>
    </div>
</div>

{% endblock %}