{# src/RJSite/AdminBundle/Resources/views/CV/add.html.twig #}

{% extends "RJSiteAdminBundle::layout.html.twig" %}

{% block title %}
    Modifier un Curriculum Vitae - {{ parent() }}
{% endblock %}

{% block rjsite_admin_body %}

<div class="container theme-showcase">
    <div class="page-header">
        <div class="pull-left">
            <h2>Modification d'un Curiculum Vitae</h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Mise à jour du profil</h3>
            </div>
            <div class="panel-body">
            {{ include("RJSiteAdminBundle:CV:form.html.twig") }}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Sections</h3>
            </div>
            <div class="panel-body">
            {% if profile.sections is defined %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Sections</th>
                            <th></th>
    {#                         <th>Description</th>#}
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for sectionForm in sectionForms %}
                        {{ form_start(sectionForm, {'attr': {'class': 'form-horizontal section-forms', 'id' : 'section-form-' ~ sectionForm.vars.value.id, 
                            'action': path('rj_site_admin.cv.section.edit', {'id': sectionForm.vars.value.id}), 'method': 'POST'}}) }}
                        <tr>
                            <td>{{ sectionForm.vars.value.id }}</td>
                            <td>{{ form_widget(sectionForm.title, {'id' : 'title-' ~ sectionForm.vars.value.id}) }}</td>
                            <td>{{ form_widget(sectionForm.position, {'id' : 'position-' ~ sectionForm.vars.value.id}) }}</td>
                            <td>
                                {{ form_widget(sectionForm.save, {'attr': {'class': 'btn btn-xs btn-success'}, 'id' : 'save-section-form-' ~ sectionForm.vars.value.id}) }}
                                <a class="btn btn-xs btn-danger sections-delete" id="delete-section-{{ sectionForm.vars.value.id }}" href="{{ path('rj_site_admin.cv.section.delete', {'id': sectionForm.vars.value.id}) }}">x</a>
                            </td>
                         </tr>
                        {% if sectionForm.vars.value.experiences is defined %}
                        <tr>
                            <td colspan="4">
                                <div class="list-group">
                                    {% for experience in sectionForm.vars.value.experiences %}
                                        <a class="list-group-item" href="{{ path('rj_site_admin.cv.experience.edit', {'id':experience.id}) }}">{{ experience.title }}, {{ experience.company }}</a>
                                    {% endfor %}
                                </div>
                                <div><a class="btn btn-xs btn-primary" href="{{ path('rj_site_admin.cv.experience.add', {'id':1}) }}">Ajouter une experience</a></div>
                            </div>
                        </tr>
                        {{ form_end(sectionForm) }}
                        {% endif %}
                    {% endfor %}
                        {{ form_start(newSectionForm, {'attr': {'class': 'form-horizontal', 'id' : 'new-section-form', 
                            'action': path('rj_site_admin.cv.section.add', {'profile_id': profile.id}), 'method': 'POST'}}) }}
                        <tr>
                            <td></td>
                            <td>{{ form_widget(newSectionForm.title, {'id' : 'new-title'}) }}</td>
                            <td>{{ form_widget(newSectionForm.position, {'id' : 'new-position'}) }}</td>
                            <td>
                                {{ form_widget(newSectionForm.save, {'attr': {'class': 'btn btn-xs btn-primary'}, 'id' : 'new-save'}) }}
                            </td>
                        </tr>
                        {{ form_end(newSectionForm) }}
                    </tbody>
                </table>
                <script>
                    $(".section-forms").submit(function( event ) {
                         event.preventDefault();
                         var $form = $( this );
                         
                         var posting = $.post($form.attr( "action" ), { "params": $form.serializeArray() } );
                          
                         posting.done(function( data ) {
                             $( "#save-"+$form.attr('id') ).html(data);
                         });
                    });
                    $(".sections-delete").click(function( event ) {
                        event.preventDefault();
                        console.log($(this).attr('href'));
                        
                        var getting = $.get($(this).attr('href'), function(data) {
                         alert(data);
                        });
                        
//                         var posting = $.post( url, { "params": $form.serializeArray() } );
                         
//                         posting.done(function( data ) {
//                         	$( this ).html(data);
//                         });
                   });
                </script>
                {% else %}
                    <h3>Aucun CV n'existe</h3>
                {% endif %}
            </div>
        </div>
    </div>
    

{% endblock %}